<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic QR Scanner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-button (click)="startScanning()" expand="full">
            qrscanner
        </ion-button>
        <p *ngIf="qrText">QR Scan text: {{ qrText }}</p>
    </div>


    <ion-header>
        <ion-toolbar>
            <ion-title>
                QR Code Generator
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">
    </ion-input>

    <ion-button full icon-left (click)="createCode()">
        <ion-icon name="barcode">Create</ion-icon>
    </ion-button>

    <qr-code [value]="createdCode" size="300" errorCorrectionLevel="M"></qr-code>


</ion-content>